.bg-background-color-light {
  background-color: #000;
}

:root {
  --background-dark: 0 0 0; /* RGB for black */
  --background-light: 0 0 0; /* RGB for black */
  --tw-bg-opacity: 1;
  --rounded-xl: 6px;
}

.dark\:bg-background-dark:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--background-dark) / var(--tw-bg-opacity));
}

.bg-background-light {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--background-light) / var(--tw-bg-opacity));
}

.rounded-xl {
  border-radius: var(--rounded-xl, 6px);
}

.codeblock-dark {
  background-color: #17181a !important;
}

/* Force white style for top bar CTA button */
#topbar-cta-button a span.absolute {
  background-color: white !important;
}

#topbar-cta-button a span.z-10 {
  color: #17181a !important; /* Dark color for text contrast */
}

#topbar-cta-button a svg {
  color: #17181a !important; /* Dark color for icon contrast */
}
